:root {
    --gray: #565454;
    --blue: #25bae5;
    --magenta: #ce0b59;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* FORMULAIRE */
.team-icon {
    display: flex;
    align-items: center;
    height: 3em;
}

input[type="text"],
input[type="submit"],
button {
    padding: 0.5em;
}

input[type="radio"] {
    margin-right: 0.5em;
}

img {
    width: 25px;
    padding: 0.25em 0;
}

#baliseImg {
    width: 50px;
    ;
    height: 50px;
    ;
}


/* PLATEAU */
#plateau {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    color: var(--gray);
    text-align: center;
}

.score-board {
    grid-column: 1 / span 3;
    grid-row: 1 / span 10;
    line-height: 1em;
    padding: 0 1.25em;
}

.score-board .team {
    border: 2px solid var(--magenta);
    border-radius: 20px;
}

.score-board h4 {
    margin: 1em 0;
    font-size: 1.25em;
}

.score-board .team-header {
    background-color: var(--magenta);
    border-radius: 17px 17px 0 0;
}

.score-board i {
    color: white;
    padding: 0.25em;
}

.score-board p {
    font-size: 1.25em;
}

.score-board p span {
    font-size: 1.50em;
    font-weight: bold;
}

#start {
    writing-mode: sideways-lr;
    background-color: var(--gray);
    color: white;
    display: grid;
    align-content: center;
    font-size: 2em;
}

#plateau .case {
    background-color: whitesmoke;
    border: 1px solid #bbb;
}

#plateau .case .head {
    padding: 0.65em;
    border-bottom: 1px solid #bbb;
    font-weight: bold;
}

#plateau .case .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 120px;
    align-items: center;
    justify-items: center;
}

.defi .head {
    background-color: var(--magenta);
    color: white;
}

.defi .body {
    background-color: #ce0b5940;
}

.quiz .head {
    background-color: var(--blue);
    color: white;
}

.quiz .body {
    background-color: #25bae54f;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 1em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* QUESTION */
#question {
    /* max-width: 390px; */
    border: 2px solid var(--blue);
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
}

#question p {
    margin: 0;
}

#question p:last-of-type {
    padding: 1em;
}

.question {
    background-color: var(--blue);
    font-size: 0.75em;
    color: white;
    padding: 0.50em;
    display: block;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}